In [21]:
import pandas as pd
import pandas as pd
import numpy as np
from tqdm import notebook
import ast
import re
from fuzzywuzzy import fuzz
from datetime import datetime, timedelta
#import spacy

In [2]:
subset1_pat = pd.read_json('../../Annotation/Patrick/batch1_patrick_result.json')
subset2_pat = pd.read_json('../../Annotation/Patrick/batch2_patrick_result.json')
subset3_pat = pd.read_json('../../Annotation/Patrick/batch3_patrick_result.json')
subset1_thom = pd.read_json('../../Annotation/Thom/batch1_thom_result.json')
subset1_chiel = pd.read_json('../../Annotation/Chiel/batch1_chiel_result.json')
subset2_chiel = pd.read_json('../../Annotation/Chiel/batch2_chiel_result.json')
subset3_chiel = pd.read_json('../../Annotation/Chiel/batch3_chiel_result.json')
subset1_bar = pd.read_json('batch1_result.json')
subset2_bar = pd.read_json('result.json')
subset3_bar = pd.read_json('batch2_result.json')
subset4_bar = pd.read_json('batch3_result.json')
subset5_bar = pd.read_json('batch4_result.json')

In [3]:
subset3_chiel

,uuid,rubriek,notaris,inventarisNr,akteNr,akteType,datering,taal,beschrijving,namen,urls,text,name,data_matches,data_entry,vocop_match
5000,6a8c2759-a8a2-739c-7c88-66cc2b3074b9,358,JAN VERLEIJ,11945,26354,Testament,1761-06-24,nederlands,None,"[{'voornaam': 'Magteld', 'tussenvoegsel': None...","['KLAB06150000131.JPG', 'KLAB06150000132.JPG',...",160 Mgendes Dit Testament van Man No: 7160 en ...,Hendrik Verhoeve,"[{'index': 83119, 'name_original': 'Hendrikus ...","{'83119': {'ships': ['nan'], 'rank': [], 'loca...",0
5001,6a8c2759-a8a2-739c-7c88-66cc2b3074b9,358,JAN VERLEIJ,11945,26354,Testament,1761-06-24,nederlands,None,"[{'voornaam': 'Magteld', 'tussenvoegsel': None...","['KLAB06150000131.JPG', 'KLAB06150000132.JPG',...",160 Mgendes Dit Testament van Man No: 7160 en ...,Jan Gielink,"[{'index': 69002, 'name_original': 'Jan Geleij...","{'69002': {'ships': [], 'rank': [], 'location'...",0
5002,6a8c2759-a8a2-739c-7c88-66cc2b3074b9,358,JAN VERLEIJ,11945,26354,Testament,1761-06-24,nederlands,None,"[{'voornaam': 'Magteld', 'tussenvoegsel': None...","['KLAB06150000131.JPG', 'KLAB06150000132.JPG',...",160 Mgendes Dit Testament van Man No: 7160 en ...,Harmijntje ten Bosch,0,0,0
5003,7cbe357d-8773-4529-dafd-8aced1e59ed8,358,JAN VERLEIJ,11945,27395,Machtiging,1761-05-20,nederlands,\nSchip de Jonge Catharina\n,"[{'voornaam': 'Sicke', 'tussenvoegsel': None, ...","['KLAB06150000050.JPG', 'KLAB06150000051.JPG',...",Aatijs N �134 Procuratie Gepasseert den 20 Mai...,Sicke Jentjes,0,0,0
5004,7cbe357d-8773-4529-dafd-8aced1e59ed8,358,JAN VERLEIJ,11945,27395,Machtiging,1761-05-20,nederlands,\nSchip de Jonge Catharina\n,"[{'voornaam': 'Sicke', 'tussenvoegsel': None, ...","['KLAB06150000050.JPG', 'KLAB06150000051.JPG',...",Aatijs N �134 Procuratie Gepasseert den 20 Mai...,Abraham Mijlius,"[{'index': 298118, 'name_original': 'Abraham M...","{'298118': {'ships': [], 'rank': [], 'location...",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5606,ec86eb9e-7c9b-a20e-0ba9-31dc4e2d05eb,358,JAN VERLEIJ,11953,33691,Kwitantie,1764-01-19,nederlands,"\nSchip De Bregitta Antonia, crediteuren van o...","[{'voornaam': 'Andries', 'tussenvoegsel': None...","['KLAB06159000055.JPG', 'KLAB06159000056.JPG',...",No: 17 Quitantie gepasseert den 19e: Januarij ...,Maurits Kier,0,0,0
5607,ec86eb9e-7c9b-a20e-0ba9-31dc4e2d05eb,358,JAN VERLEIJ,11953,33691,Kwitantie,1764-01-19,nederlands,"\nSchip De Bregitta Antonia, crediteuren van o...","[{'voornaam': 'Andries', 'tussenvoegsel': None...","['KLAB06159000055.JPG', 'KLAB06159000056.JPG',...",No: 17 Quitantie gepasseert den 19e: Januarij ...,Jacob Fredrik Stijnman,"[{'index': 261563, 'name_original': 'Jacob Fre...","{'261563': {'ships': [], 'rank': [], 'location...",0
5608,ec86eb9e-7c9b-a20e-0ba9-31dc4e2d05eb,358,JAN VERLEIJ,11953,33691,Kwitantie,1764-01-19,nederlands,"\nSchip De Bregitta Antonia, crediteuren van o...","[{'voornaam': 'Andries', 'tussenvoegsel': None...","['KLAB06159000055.JPG', 'KLAB06159000056.JPG',...",No: 17 Quitantie gepasseert den 19e: Januarij ...,Hendrik Kannegieter Jansz,0,0,0
5609,ec86eb9e-7c9b-a20e-0ba9-31dc4e2d05eb,358,JAN VERLEIJ,11953,33691,Kwitantie,1764-01-19,nederlands,"\nSchip De Bregitta Antonia, crediteuren van o...","[{'voornaam': 'Andries', 'tussenvoegsel': None...","['KLAB06159000055.JPG', 'KLAB06159000056.JPG',...",No: 17 Quitantie gepasseert den 19e: Januarij ...,Racheltje Teunis,0,0,0
5610,ec86eb9e-7c9b-a20e-0ba9-31dc4e2d05eb,358,JAN VERLEIJ,11953,33691,Kwitantie,1764-01-19,nederlands,"\nSchip De Bregitta Antonia, crediteuren van o...","[{'voornaam': 'Andries', 'tussenvoegsel': None...","['KLAB06159000055.JPG', 'KLAB06159000056.JPG',...",No: 17 Quitantie gepasseert den 19e: Januarij ...,Abraham Griebman,"[{'index': 635325, 'name_original': 'Abraham D...","{'635325': {'ships': [], 'rank': [], 'location...",0

#### Correcties:
Chiel:
- Christiaan Andriesz 1416
- Jan de Bruijn 1463
- Abraham van de Heuvel (1823 super interessant twijfel geval)
- Pieter van Essen (1825 super interessant twijfel geval)
- Hans Pietersz 3792

Patrick:
- Jan Smit 4194 (zelde als de interessante gevallen van Chiel)
- Hendrik van Alen 593 (zelfde schip maar naam is net even anders)

In [4]:
subset1_pat.at[593, 'vocop_match'] = 0
subset1_chiel.at[1416,'vocop_match'] = 0
subset1_chiel.at[1463,'vocop_match'] = 0
subset2_chiel.at[3729, 'vocop_match'] = 0
subset4_bar.at[9025, 'vocop_match'] = ('Johannis Oosterhoff', 140442)
subset5_bar.at[9927, 'vocop_match'] = ('Wiggert Andresz', 374198)

In [5]:
final_pat = subset1_pat
final_pat = final_pat.append(subset2_pat)
final_pat = final_pat.append(subset3_pat)

final_chiel = subset1_chiel
final_chiel = final_chiel.append(subset2_chiel)
final_chiel = final_chiel.append(subset3_chiel)

final_barry = subset1_bar
final_barry = final_barry.append(subset2_bar).append(subset3_bar).append(subset4_bar).append(subset5_bar)

final_df = final_pat.append(final_chiel).append(subset1_thom).append(final_barry)

In [74]:
final_df[final_df.data_matches != 0].iloc[0].data_matches

[{'index': 288686,
  'name_original': 'Cornelis van Someren',
  'name_normalized': 'Kornelis van Somer',
  'date_out': '1738-12-27',
  'date_return': '1739-09-26',
  'ship_out': 'NIEUWSTAD',
  'ship_return': None,
  'rank': 'Metselaar',
  'place_of_origin': 'Swijndregt'},
 {'index': 310196,
  'name_original': 'Cornelis van Someren',
  'name_normalized': 'Kornelis van Somer',
  'date_out': '1737-12-11',
  'date_return': '1745-12-13',
  'ship_out': 'Nieuwstad',
  'ship_return': None,
  'rank': 'Metselaar',
  'place_of_origin': 'Swijndregt'},
 {'index': 321893,
  'name_original': 'Cornelis van Ammelen',
  'name_normalized': 'Kornelis van Ammel',
  'date_out': '1727-11-02',
  'date_return': '1728-04-29',
  'ship_out': 'Den Dam',
  'ship_return': None,
  'rank': 'Matroos',
  'place_of_origin': 'Delft'},
 {'index': 397388,
  'name_original': 'Cornelis van Overen',
  'name_normalized': 'Kornelis van Over',
  'date_out': '1731-01-01',
  'date_return': '1732-09-03',
  'ship_out': 'Hillegonda',
  'ship_return': None,
  'rank': 'Konstabel',
  'place_of_origin': 'Hoorn'},
 {'index': 401215,
  'name_original': 'Cornelis van Overen',
  'name_normalized': 'Kornelis van Over',
  'date_out': '1726-04-22',
  'date_return': '1730-07-25',
  'ship_out': 'Hillegonda',
  'ship_return': 'PRATTENBURG',
  'rank': 'Konstabelsmaat',
  'place_of_origin': 'Hoorn'},
 {'index': 404902,
  'name_original': 'Cornelis van Overen',
  'name_normalized': 'Kornelis van Over',
  'date_out': '1724-02-10',
  'date_return': '1725-12-11',
  'ship_out': 'Hillegonda',
  'ship_return': 'VRIESWIJK',
  'rank': 'Matroos',
  'place_of_origin': 'Hoorn'},
 {'index': 467060,
  'name_original': 'Cornelis van Overen',
  'name_normalized': 'Kornelis van Over',
  'date_out': '1722-01-13',
  'date_return': '1723-07-05',
  'ship_out': 'Stadhuis van Delft',
  'ship_return': 'STADHUIS VAN DELFT',
  'rank': 'Matroos',
  'place_of_origin': 'Hoorn'},
 {'index': 634007,
  'name_original': 'Cornelis van Ommeren',
  'name_normalized': 'Kornelis van Ommer',
  'date_out': '1787-08-08',
  'date_return': '1788-06-16',
  'ship_out': 'Eik en Linde',
  'ship_return': None,
  'rank': 'Jongen',
  'place_of_origin': 'Buuren'},
 {'index': 638370,
  'name_original': 'Cornelis van Ommeringen',
  'name_normalized': 'Kornelis van Ommering',
  'date_out': '1789-10-23',
  'date_return': '1791-07-03',
  'ship_out': 'Vasco da Gama',
  'ship_return': 'VASCO DA GAMA',
  'rank': 'Jongen',
  'place_of_origin': 'Haarlem'},
 {'index': 639123,
  'name_original': 'Cornelis van Gameren',
  'name_normalized': 'Kornelis van Gamer',
  'date_out': '1789-10-23',
  'date_return': '1791-01-01',
  'ship_out': 'Vasco da Gama',
  'ship_return': None,
  'rank': 'Hooploper',
  'place_of_origin': 'Amsterdam'},
 {'index': 646721,
  'name_original': 'Cornelis van Omme',
  'name_normalized': 'Kornelis van Omm',
  'date_out': '1716-06-03',
  'date_return': '1720-08-05',
  'ship_out': 'Hopvogel',
  'ship_return': 'DEN DAM',
  'rank': 'Hooploper',
  'place_of_origin': 'Nieuk.'}]

In [82]:
final_df = final_df.loc[~final_df.index.duplicated(keep='first')]

In [83]:
ranking_df = pd.DataFrame(columns=['name_ratio', 'day_dif', 'location', 'rank', 'numships', 'match'])
for x in notebook.tqdm(final_df[final_df.data_matches != 0].itertuples(), total=final_df[final_df.data_matches != 0].shape[0]):
    notary_date = datetime.strptime(x.datering, '%Y-%m-%d')
    for match in x.data_matches:
        index = str(x.Index) + '_' + str(match['index'])
        
        name_ratio=max(fuzz.ratio(x.name, match['name_original']), fuzz.ratio(x.name, match['name_normalized']))
        
        if x.vocop_match != 0 and match['index'] == x.vocop_match[1]:
            matched = 1
        else:
            matched = 0
        
        try:
            out_date = datetime.strptime(match['date_out'], '%Y-%m-%d')
        except:
            out_date = datetime(year=1, month=1, day =1 )
        try:
            return_date = datetime.strptime(match['date_return'], '%Y-%m-%d')
        except:
            return_date = datetime(year=1, month=1, day =1 )
        if (notary_date - out_date).days in range(0, -91, -1):
            day_dif = -(notary_date - out_date).days
        elif (notary_date - return_date).days in range(0, 91):
            day_dif = (notary_date - return_date).days
        else:
            continue
        
        if str(match['index']) in x.data_entry:
            numships = len(x.data_entry[str(match['index'])]['ships'])
            if x.data_entry[str(match['index'])]['rank'] != []:
                rank = 1
            else:
                rank = 0
            if x.data_entry[str(match['index'])]['location'] != []:
                location = 1
            else:
                location = 0
        else:
            numships = 0
            rank = 0
            location = 0
        tempdf = pd.DataFrame(columns=['name_ratio', 'day_dif', 'location', 'rank', 'numships', 'match'], data={
            'name_ratio':name_ratio,
            'day_dif':day_dif, 
            'location':location,
            'rank':rank,
            'numships':numships,
            'match':matched
        }, index=[index])
        ranking_df = ranking_df.append(tempdf)

HBox(children=(IntProgress(value=0, max=4300), HTML(value='')))

In [84]:
ranking_df

            name_ratio day_dif location rank numships match
14_62148            92      18        0    0        0     0
16_264891           90      60        1    0        0     0
16_295399           90      26        0    0        0     0
48_186881           90      16        1    0        0     0
52_379356           90       8        0    0        1     0
...                ...     ...      ...  ...      ...   ...
9932_350223         94      39        0    0        0     0
9936_358917        100      85        0    0        0     0
9937_530849        100      10        0    0        0     0
9989_477417         93      18        0    0        0     0
9995_283215        100      28        1    0        0     0

[1342 rows x 6 columns]

In [88]:
ranking_df.to_json('preranking.json')
#ranking_df[ranking_df.match == 1]

In [87]:
ranking_df[ranking_df.index.value_counts() == 2]

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

Empty DataFrame
Columns: [name_ratio, day_dif, location, rank, numships, match]
Index: []

False
False
False

{'288686': {'ships': [], 'rank': [], 'location': []},
 '310196': {'ships': [], 'rank': [], 'location': []},
 '321893': {'ships': [], 'rank': [], 'location': []},
 '397388': {'ships': [], 'rank': [], 'location': []},
 '401215': {'ships': [], 'rank': [], 'location': []},
 '404902': {'ships': [], 'rank': [], 'location': []},
 '467060': {'ships': [], 'rank': [], 'location': []},
 '634007': {'ships': [], 'rank': [], 'location': []},
 '638370': {'ships': [], 'rank': [], 'location': []},
 '639123': {'ships': [], 'rank': [], 'location': ['Amsterdam', 'Amsterdam']},
 '646721': {'ships': [], 'rank': [], 'location': []}}